package {{.Package}}

import (
	cfg "{{.ProjectName}}/config"
	"{{.ProjectName}}/internal/server"
    "{{.ProjectName}}/internal/server/registry/external-dependencies"
    "github.com/ihatiko/config"
    "github.com/ihatiko/tracer"
)

const (
	configPath = "./config/config"
)

func Run() {
	cfg, err := config.GetConfig[cfg.Config](configPath)
	if err != nil {
		panic(err)
	}
    cfg.Log.SetConfiguration(cfg.Server.Name)
	tracer, err := cfg.Jaeger.NewTracer(cfg.Server.Name)
	if err != nil {
		log.Fatal(err)
	}
	defer tracer.Closer.Close()
    server := server.NewServer(
    	cfg,
    	external_dependencies.NewExternalDependencies(
    	),
    )
    server.Run()
}