server:
  port: :10001
  {{- if .Grpc}}
  grpcPort: :20002  {{end}}
  name: {{.ServiceName}}
  timeout: 15
  readTimeout: 5
  writeTimeout: 5
  maxConnectionIdle: 5
  maxConnectionAge: 5

log:
  encoding: json
  level: info
  devMode: false