package external_dependencies

import (

)

type ExternalDependencies struct {

}

func NewExternalDependencies(

) *ExternalDependencies {
	return &ExternalDependencies{

	}
}

func (c *ExternalDependencies) Registry() {

}
