package {{.Package}}

import (
	"github.com/ihatiko/log"
    "time"
)

type Server struct {
	Name              string
	Port              string
	{{- if .Grpc}}
	GrpcPort          string {{end}}
	Mode              string
	ReadTimeout       time.Duration
	WriteTimeout      time.Duration
	TimeOut           time.Duration
	MaxConnectionIdle time.Duration
	MaxConnectionAge  time.Duration
}


type Config struct {
	Server         *Server
	Log            *log.Config
}