package {{.Package}}

import (
	"context"
	"github.com/gofiber/fiber/v2"
	"sync"
	"test/config"
)

type Server struct {
	HttpServer      *fiber.App
	Config          *config.Config
	Providers       *providers.Container
	GracefulContext *GracefulContext
}

func NewServer() *Server {
	return &Server{

	}
}

func (server *Server) Run() error {

}
