package {{.Package}}

import (
	"{{.ProjectName}}/config"
	externalDependencies "{{.ProjectName}}/internal/server/registry/external-dependencies"
	"context"
	"github.com/gofiber/fiber/v2"
	"sync"
)

type Server struct {
	HttpServer      *fiber.App
	Config          *config.Config
	ExternalDependencies *externalDependencies.ExternalDependencies
	GracefulContext *GracefulContext
}

func NewServer(config *config.Config, externalDependencies *externalDependencies.ExternalDependencies) *Server {
	ctx, cancelFunc := context.WithCancel(context.Background())
	return &Server{
		Config:               config,
		ExternalDependencies: externalDependencies,
		GracefulContext: &GracefulContext{
			Context:    ctx,
			CancelFunc: cancelFunc,
			WgJobs:     sync.WaitGroup{},
		},
	}
}

func (s *Server) Run() {
	s.ExternalDependencies.Registry()
	//s.Registry()
    s.StartHttpServer()
    s.GracefulShutdown()
}
